site_name: Python Teknik 1
copyright: © 2026 Emil Frisk

theme:
  name: material
  language: sv

  # Features
  features:
    - navigation.top
    - navigation.footer
    # - header.autohide
    # - search.suggest
    - search.highlight

  # Ikoner
  icon:
    logo: material/console
    # favicon: måste va en bild som ligger i docs i projektet tror jag
    menu: material/console
    previous: fontawesome/solid/angle-left
    next: fontawesome/solid/angle-right

  # Färger
  # red, pink, purple, deep purple, indigo, blue, light blue, cyan, teal, green, light green, lime, yellow, amber, orange, deep orange, brown, grey, blue grey, black, white
  palette:
    - scheme: default
      primary: indigo
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to light mode



  
nav:
  - Start: index.md
  - Lektion 1: content/lektion-1.md
  - Lektion 2: content/lektion-2.md


markdown_extensions:

  - pymdownx.magiclink

  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details

  # - pymdownx.emoji:
  #     emoji_index: !!python/name:material.extensions.emoji.twemoji
  #     emoji_generator: !!python/name:material.extensions.emoji.to_svg
      
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde




extra_css:
  - styles/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


extra:
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:emil.frisk@ulricehamn.se